.venv
__pycache__
.vscode
.pytest_cache
.ruff_cache
.ty_cache

# reference
refer/
refer_dag/


# benchmark stuffs
perf*.txt
bench*.svg
bench*.json

.tmp*
honey-bench/results
Dory-BFT-Consensus
Dumbo_NG
jumbo
third_party
honeyBFT
.codex
.serena
.spec-workflow
target
